In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [92]:
a = pd.read_csv("Lin_Regr_W_M_V test case.csv")    #upload a file

In [93]:
a #print a file

   Area  Bedroom  Age   Price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [79]:
a.Bedroom.median() #to find the missing number in bedrooms use median

3.5

In [94]:
import math
median_Bedroom = math.floor(a.Bedroom.median())
median_Bedroom #round off the median value

3

In [81]:
a.Bedroom.fillna(median_Bedroom) #upload the median value to the missing column

0    3.0
1    4.0
2    3.0
3    3.0
4    5.0
Name: Bedroom, dtype: float64

In [82]:
a.Bedroom = a.Bedroom.fillna(median_Bedroom)
print(a) #upload the median value to the file

   Area  Bedroom  Age   Price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [83]:
lr = linear_model.LinearRegression() #linear regression assigning object

In [84]:
lr.fit(a[['Area','Bedroom','Age']],a.Price) #calling linear regression for 3 features and one unknown

LinearRegression()

In [85]:
lr.coef_ #knowing the coefficient

array([   137.25, -26025.  ,  -6825.  ])

In [86]:
lr.intercept_ #knowing the intercept

383724.9999999998

In [90]:
lr.predict([[3300,4,15]]) #predicting the value

array([630175.])